# Ollama Configuration
OLLAMA_HOST=http://localhost:11434

# OpenAI Configuration
# OPENAI_API_KEY=your_openai_api_key_here
# OPENAI_HOST=https://api.openai.com/v1

# Required by the MySQL docker image
MYSQL_ROOT_PASSWORD=password

# Database connection
DATABASE_HOST=localhost
DATABASE_NAME=ctrlAI
DATABASE_PASSWORD=password
DATABASE_PORT=3306
DATABASE_USER=webserver

# Database connection URL
DATABASE_URL=mysql://root:password@localhost:3306/ctrlAI